 
		.ulisting_element_80_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_80_1548649971715{} }
		 
		.ulisting_element_170_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_170_1548649971715{} }
		 
		.ulisting_element_790_1548649971715{;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;}
		@media (max-width: 1199px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_790_1548649971715{padding-right:6px;padding-left:6px} }
		@media (max-width: 767px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_790_1548649971715{} }
		 
		.ulisting_element_960_1548649978737{;;}
		@media (max-width: 1199px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 991px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 767px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 575px) { .ulisting_element_960_1548649978737{} }
		 
		.ulisting_element_750_1548496387744{;margin-top:40px;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496387744{margin-top:30px;margin-bottom:20px} }
		@media (max-width: 991px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496387744{} }
		 
		.ulisting_element_670_1548496387744{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 991px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_670_1548496387744{} }
		 
		.ulisting_element_960_1548496387744{;padding-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_960_1548496387744{padding-right:15px;margin-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_960_1548496387744{} }
		 
		.ulisting_element_610_1552380617076{;;}
		@media (max-width: 1199px) { .ulisting_element_610_1552380617076{} }
		@media (max-width: 991px) { .ulisting_element_610_1552380617076{} }
		@media (max-width: 767px) { .ulisting_element_610_1552380617076{} }
		@media (max-width: 575px) { .ulisting_element_610_1552380617076{} }
		 
		.ulisting_element_590_1552380617076{;display: block;;margin-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_590_1552380617076{display: block;} }
		@media (max-width: 991px) { .ulisting_element_590_1552380617076{display: block;} }
		@media (max-width: 767px) { .ulisting_element_590_1552380617076{display: block;} }
		@media (max-width: 575px) { .ulisting_element_590_1552380617076{display: block;} }
		 
		.ulisting_element_340_1548660154503{;margin-bottom:0px;padding-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 991px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 767px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 575px) { .ulisting_element_340_1548660154503{} }
		 
		.ulisting_element_180_1552380620658{;display: block;;margin-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_180_1552380620658{display: block;} }
		@media (max-width: 991px) { .ulisting_element_180_1552380620658{display: block;} }
		@media (max-width: 767px) { .ulisting_element_180_1552380620658{display: block;} }
		@media (max-width: 575px) { .ulisting_element_180_1552380620658{display: block;} }
		 
		.ulisting_element_150_1657652507734{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1657652507734{} }
		@media (max-width: 991px) { .ulisting_element_150_1657652507734{} }
		@media (max-width: 767px) { .ulisting_element_150_1657652507734{} }
		@media (max-width: 575px) { .ulisting_element_150_1657652507734{} }
		 
		.ulisting_element_840_1657652518363{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1657652518363{} }
		@media (max-width: 991px) { .ulisting_element_840_1657652518363{} }
		@media (max-width: 767px) { .ulisting_element_840_1657652518363{} }
		@media (max-width: 575px) { .ulisting_element_840_1657652518363{} }
		 
		.ulisting_element_600_1552381864233{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1552381864233{} }
		@media (max-width: 991px) { .ulisting_element_600_1552381864233{} }
		@media (max-width: 767px) { .ulisting_element_600_1552381864233{} }
		@media (max-width: 575px) { .ulisting_element_600_1552381864233{} }
		 
		.ulisting_element_750_1552381864233{;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_750_1552381864233{} }
		@media (max-width: 991px) { .ulisting_element_750_1552381864233{} }
		@media (max-width: 767px) { .ulisting_element_750_1552381864233{} }
		@media (max-width: 575px) { .ulisting_element_750_1552381864233{} }
		 
		.ulisting_element_10_1548660157395{;;}
		@media (max-width: 1199px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 991px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 767px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 575px) { .ulisting_element_10_1548660157395{} }
		 
		.ulisting_element_940_1657652582182{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1657652582182{} }
		@media (max-width: 991px) { .ulisting_element_940_1657652582182{} }
		@media (max-width: 767px) { .ulisting_element_940_1657652582182{} }
		@media (max-width: 575px) { .ulisting_element_940_1657652582182{} }
		 
		.ulisting_element_980_1657652570919{;;}
		@media (max-width: 1199px) { .ulisting_element_980_1657652570919{} }
		@media (max-width: 991px) { .ulisting_element_980_1657652570919{} }
		@media (max-width: 767px) { .ulisting_element_980_1657652570919{} }
		@media (max-width: 575px) { .ulisting_element_980_1657652570919{} }
		 
		.ulisting_element_580_1657652551185{;;}
		@media (max-width: 1199px) { .ulisting_element_580_1657652551185{} }
		@media (max-width: 991px) { .ulisting_element_580_1657652551185{} }
		@media (max-width: 767px) { .ulisting_element_580_1657652551185{} }
		@media (max-width: 575px) { .ulisting_element_580_1657652551185{} }
		 
		.ulisting_element_960_1552381428638{;;}
		@media (max-width: 1199px) { .ulisting_element_960_1552381428638{} }
		@media (max-width: 991px) { .ulisting_element_960_1552381428638{} }
		@media (max-width: 767px) { .ulisting_element_960_1552381428638{} }
		@media (max-width: 575px) { .ulisting_element_960_1552381428638{} }
		 
		.ulisting_element_200_1548497799003{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 991px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 767px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 575px) { .ulisting_element_200_1548497799003{} }
		 
		.ulisting_element_830_1548497776050{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 991px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 767px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 575px) { .ulisting_element_830_1548497776050{} }
		 
		.ulisting_element_550_1548497059551{;padding-bottom:8px;}
		@media (max-width: 1199px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 991px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 767px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 575px) { .ulisting_element_550_1548497059551{} }
		 
		.ulisting_element_490_1548497043109{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 991px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 767px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 575px) { .ulisting_element_490_1548497043109{} }
		 
		.ulisting_element_560_1548496993817{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 991px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 767px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 575px) { .ulisting_element_560_1548496993817{} }
		 
		.ulisting_element_180_1548496558959{;padding-top:15px;padding-bottom:18px;}
		@media (max-width: 1199px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 991px) { .ulisting_element_180_1548496558959{padding-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 575px) { .ulisting_element_180_1548496558959{} }
		 
		.ulisting_element_240_1657652604114{;;}
		@media (max-width: 1199px) { .ulisting_element_240_1657652604114{} }
		@media (max-width: 991px) { .ulisting_element_240_1657652604114{} }
		@media (max-width: 767px) { .ulisting_element_240_1657652604114{} }
		@media (max-width: 575px) { .ulisting_element_240_1657652604114{} }
		 
		.ulisting_element_610_1657652615510{;;}
		@media (max-width: 1199px) { .ulisting_element_610_1657652615510{} }
		@media (max-width: 991px) { .ulisting_element_610_1657652615510{} }
		@media (max-width: 767px) { .ulisting_element_610_1657652615510{} }
		@media (max-width: 575px) { .ulisting_element_610_1657652615510{} }
		 
		.ulisting_element_160_1548496556707{;padding-top:15px;padding-bottom:1px;}
		@media (max-width: 1199px) { .ulisting_element_160_1548496556707{padding-top:0px} }
		@media (max-width: 991px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 767px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 575px) { .ulisting_element_160_1548496556707{} }
		 
		.ulisting_element_170_1548496655106{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 991px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 767px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 575px) { .ulisting_element_170_1548496655106{} }
		 
		.ulisting_element_120_1548496644590{;;}
		@media (max-width: 1199px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 991px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 767px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 575px) { .ulisting_element_120_1548496644590{} }
		 
		.ulisting_element_750_1548496638544{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 991px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496638544{} }
		 
		.ulisting_element_370_1548496634676{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 991px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 767px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 575px) { .ulisting_element_370_1548496634676{} }
		 
		.ulisting_element_710_1548496955311{;;}
		@media (max-width: 1199px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 991px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 767px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 575px) { .ulisting_element_710_1548496955311{} }
		 
		.ulisting_element_700_1559034445110{;;}
		@media (max-width: 1199px) { .ulisting_element_700_1559034445110{} }
		@media (max-width: 991px) { .ulisting_element_700_1559034445110{} }
		@media (max-width: 767px) { .ulisting_element_700_1559034445110{} }
		@media (max-width: 575px) { .ulisting_element_700_1559034445110{} }
		 
		.ulisting_element_380_1564812155814{;margin-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_380_1564812155814{} }
		@media (max-width: 991px) { .ulisting_element_380_1564812155814{} }
		@media (max-width: 767px) { .ulisting_element_380_1564812155814{} }
		@media (max-width: 575px) { .ulisting_element_380_1564812155814{} }
		 
		.ulisting_element_840_1564812170500{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1564812170500{} }
		@media (max-width: 991px) { .ulisting_element_840_1564812170500{} }
		@media (max-width: 767px) { .ulisting_element_840_1564812170500{} }
		@media (max-width: 575px) { .ulisting_element_840_1564812170500{} }
		 
		.ulisting_element_400_1556176686370{;padding-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_400_1556176686370{} }
		@media (max-width: 991px) { .ulisting_element_400_1556176686370{} }
		@media (max-width: 767px) { .ulisting_element_400_1556176686370{} }
		@media (max-width: 575px) { .ulisting_element_400_1556176686370{} }
		 
		.ulisting_element_20_1548496521532{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 991px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 767px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 575px) { .ulisting_element_20_1548496521532{} }
		 
		.ulisting_element_910_1551422721356{;;}
		@media (max-width: 1199px) { .ulisting_element_910_1551422721356{} }
		@media (max-width: 991px) { .ulisting_element_910_1551422721356{} }
		@media (max-width: 767px) { .ulisting_element_910_1551422721356{} }
		@media (max-width: 575px) { .ulisting_element_910_1551422721356{} }
		 
		.ulisting_element_940_1548842993181{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 991px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 767px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 575px) { .ulisting_element_940_1548842993181{} }
		 
		.ulisting_element_930_1548496393967{;padding-left:0px;display: block;;top:15px;position: sticky; position: -webkit-sticky; align-self: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1548496393967{padding-left:15px;display: flex; justify-content: center;;position: relative} }
		@media (max-width: 991px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		@media (max-width: 767px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		@media (max-width: 575px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		 
		.ulisting_element_630_1555419329766{;margin-left:35px;}
		@media (max-width: 1199px) { .ulisting_element_630_1555419329766{margin-left:0px} }
		@media (max-width: 991px) { .ulisting_element_630_1555419329766{} }
		@media (max-width: 767px) { .ulisting_element_630_1555419329766{} }
		@media (max-width: 575px) { .ulisting_element_630_1555419329766{} }
		